/* styles.css */
body {
    font-family: Arial, sans-serif;
}

.even-spaced-container {
    display: flex;
    justify-content: space-between;
}

.center {
    margin: 0 auto;
    width: 50%;
}

.center-align {
    text-align: center;
}